
<hr>
<section id="story">
    <h1>
        Why this product is being created
    </h1>

    <p>The purpose for the creation of ths product stems from the desire to continuously expand and innovate the ways</p>
    <p>in which we use our phones and our chargers. </p>

    <p>The need to be able to charge your phone wirelessly comes from the observation that everything around us is heading</p>
    <p>Wireless.</p>

    <br>
    
    <div class="container">
        <h3>Timepne of events</h3>

        <ul>
            <div>
                <p>2019</p>
                <p>Research</p>
            </div>
    
            <div>
                <p>2020</p>
                <p>Design</p>
            </div>
    
            <div>
                <p>2021</p>
                <p>Further Design & Testing</p>
            </div>
    
            <div>
                <p>2022</p>
                <p>Construction</p>
            </div>
    
            <div>
                <p>2023</p>
                <p>Manufacture & Production</p>
            </div>
        </ul>
    </div>
    
        
        

    
</section>
